/*

	Notes

*/

html {
	font-family: helvetica neue, sans-serif;
}

body {
	width: calc(100% - 20px);
}

#wrapper {
	margin: auto;
	max-width: 1400px;
	padding: 0 10px 0 10px;
}
p{
	margin-bottom: 0;
}
/* Nav

	Need the #blivmedlem */

nav {
	border-bottom: 2px solid #2F4F4F;
	text-align: right;
	min-height: 70px;
	max-width: calc(100% - 20px);
	margin: auto;
	line-height: 70px;
}

nav a {
	clear: right;
	text-decoration: none;
	color: #008ECC;
	margin-left: 20px;
	margin-top: 10px;
}

nav a:hover {
	color: #0E4D92;
}

nav span {
	color: #5F9F9F;
}

nav span:hover {
	color: #8FD8D8;
}

nav ul {
	/* Old .menu*/
	margin: 0 5%;
}

nav img {
	float: left;
}

/* 
Header - old (indledning)
Need .btn */

header {
	background: url(../img/floorball.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 450px;
	height: auto;
	z-index: -1;
	opacity: 40%;
	width: 100%;
	color: white;
	margin-top: -26px;
	padding-bottom: 10px;
	text-align: center;
}

header h1 {
	text-align: center;
	padding: 5% 0 0 0;
	font-size: 200%;
}

header p {
	text-align: center;
	padding: 0 30% 0 30%;
	font-size: 120%;
}

header button {
	background-color: #008ECC;
	width: 13em;
	padding: 15px 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 10px;
	color: white;
	text-decoration: none;
}


header button a:hover {
	background-color: #0E4D92;
}

/*
Footer
*/

footer {
	background-color: #D3D3D3;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	bottom: 0;
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

footer section {
	display: flex;
	justify-content: center;
}

footer a {
	text-decoration: none;
	color: black;
}

footer ul {
	list-style-type: none;
}

footer ul span {
	font-weight: bold;
}

footer ul li {
	list-style: none;
}

/*
	Copyrights
*/

.copyright-wrapper {
	background-color: #666666;
	margin: -20px;
	bottom: 0;
	position: absolute;
}

.copyright {
	text-align: center;
	font-size: 80%;
	padding: 10px;
}

.copyright a {
	color: black;
	text-decoration: none;
}

/* Main */

main {}

main h2 {
	text-align: center;
}

/*
	Section
	old - om-sektion
*/

section {
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	/* ONLY FOR DISPLAY*/
}

section header {
	text-align: center;
	background-image: none;
	color: black;
}

section h1 {
	width: 80%;
	margin: 20px auto 0 auto;
	text-align: center;
}

section h2 {
	margin-right: auto;
	margin-left: auto;
}

section article h2 {
	padding-top: 20px;
	padding-bottom: 0px;
}

article {
	margin: 1%;
	border-radius: 20px;
	max-width: 33%;

}
article footer{
	background-color: none;
}
form {
	border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
button{
	background-color: #008ECC;
    width: 7em;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    color: white;
    text-decoration: none;
}
tr{
	width: 13rem;
}
iframe{
	size: 90%;
}
@media only screen and (max-width: 1200px) {
	section{
		flex-direction: column;
	}
	aside{
		display: none;
	}
}